.refer-btn {
    float: right;
  }
  
  .drop-down-css {
    border: solid 3px #e5cdaa;
    background-color: #00476b;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
    color: #fff;
  }

  .drop-down-css:hover {
    background-color: #37c4bd;
  }
