.logo {
    width: 325px;
    height: 175px;
    align-content: center;
    margin-left: 25%;
}

.navbar {
    font-size: 32px;
}
.test {
    color: #00476B;
    padding-right: 20px;
}
.test:hover {
    
    color: #c18227;
    
    
}

@media (max-width: 600px) {
    .center1 {
        margin-left: 40px;
    }
    .center2 {
        margin-right: 50px;
    }
    .center0 {
        margin-right: 10px;
    }
    .disappear1 {
        display: none;
    }
    .navOrient1 {
        width: 85%;
    }
   
  }

  @media(max-width: 414px) {
    .navbar {
        font-size: 20px;
    }
    .logo {
        margin-left: 5%;
    }
}

@media (max-width: 375px) {
    .navbar {
        font-size: 12px;
    }
    .logo {
        margin-left: 0%;
        align-content: left;
        width: 315px;
    }
}





