.accept-btn {
    float: right;
    color: #fff;
    background-color: #00476b;
    border: solid 3px #e5cdaa;
    border-radius: 3px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .accept-btn:hover {
    background-color: #37c4bd;
  }
  