.jumbotron {
    background-color: #fff;
    height: 600px;
    padding-top: 60;
}

.jumboBorder {
    border-bottom: solid 10px;
    border-top: solid 10px;
    border-color: #e5cdaa;
    height:600px;
}

@media (max-width: 414px) {
    .jumbotron {
        background-color: #fff;
        padding: 10px 10px 10px 10px;
    }
    .jumboBorder {
        border-bottom: solid 10px;
        border-top: solid 10px;
        border-color: #e5cdaa;
        height: 250px;
        padding: 10px 10px 10px 10px;
        height: 800px;
        
    }
}