.customBtn {
    color: #fff;
    font-size: 25px;
    background-color: #37c4bd;
    background-color: #00476b;
    border-radius: 0;
    width: 33.33%;
    float: right;
}

.btn:hover {
    background-color: #37c4bd;
}





@media(max-width: 414px) {
    .customBtn {
        color: #fff;
        font-size: 12px;
        background-color: #37c4bd;
        background-color: #00476b;
        border-radius: 0;
        width: 33.33%;
        float: right;
        
    }
}

@media (max-width: 320px) {
    .customBtn {
        color: #fff;
        font-size: 12px;
        background-color: #37c4bd;
        background-color: #00476b;
        border-radius: 0;
        width: 33.33%;
        float: right;
        
    }
}


