.contact-info {
    margin: 100px auto 100px auto;
    padding: 20px;
    width: 90%;
    height: 100%;
    color: #fff;
    background-color: #00476b; 
    border: solid 3px #e5cdaa;
    border-radius: 3px;
}

.contact-text {
    line-height: 70px;
  
}

.emailAndPhone {
    color:#e5cdaa;
}

.emailAndPhone:hover {
    color: #c18227;
}
.contact-text-size {
    font-size: 40px;
}

.img-logo-contact {
    
    border: solid 5px #e5cdaa;
    background-color: #fff;
    border-radius: 15px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:40px;
    width:40%;
    float: left;
    
}

.shift-right {
    margin-left: 50px;
}

@media (max-width: 1588px) {
    .contact-text-size {
        font-size: 30px;
    }
}

@media (max-width: 1274px) {
    .contact-text-size {
        font-size: 25px;
    }
}

@media (max-width: 1120px) {
    .contact-text-size {
        font-size: 22px;
    }
}

@media (max-width: 1024px) {

    .shift-right {
        font-size: 50px;
        margin-left: 20px;
    }

    .contact-info {
        margin: 110px auto 110px auto;
        padding: 75px 30px 75px 30px;
        
    }
    
    .contact-text {
        line-height: 60px;
    }
    
    .contact-text-size {
        font-size: 22px;
    }
    
    .img-logo-contact {
        width: 45%;;
        margin: 50px 50px 100px 20px;
    }
    
}

@media (max-width: 768px) {

    .shift-right {
        font-size: 40px;
        
    }

    .contact-info {
        margin: 50px auto 50px auto;
        padding: 20px;
        width: 90%;
        
    }
    
    .contact-text {
        line-height: 35px;
    }
    
    .contact-text-size {
        font-size: 16px;
    }
    
    .img-logo-contact {
        width: 45%;
        margin-bottom: 65px;
        margin: 30px 50px 65px 20px;
    }
}

@media (max-width: 414px) {

    .shift-right {
        font-size: 20px;
    }

    .contact-info {
        padding: 30px;
    }
    
    .contact-text-size {
        font-size: 13px;
    }
    
    .img-logo-contact {
        width: 225px;
        margin: 20px 10px 30px 20px;
        float: none;
    }
}

@media (max-width: 375px) {
    .contact-info {
        padding: 15px;
    }
    
    .img-logo-contact {
        width: 200px;
        margin: 20px 10px 30px 40px;
    }

    .contact-text-size {
        font-size: 13px;
    }
}

@media (max-width: 360px) {
    .contact-info {
        padding: 10px;
    }
    
    .contact-text-size {
        font-size: 13px;
    }

    .img-logo-contact {
        width: 200px;
        margin: 20px 10px 30px 40px;
    }
}

@media (max-width: 320px) {
    
    
    .contact-text-size {
        font-size: 11px;
    }
    
    .img-logo-contact {
        width: 175px;
        margin: 20px 10px 30px 35px;
    }
}