.contact-info {
    margin: 20px auto 20px auto;
    padding: 20px;
    width: 70%;
    height: 100%;
    color: #fff;
    background-color: #00476b; 
    border: solid 3px #e5cdaa;
    border-radius: 3px;
}

.contact-text {
    line-height: 70px;
}

.contact-text-size {
    font-size: 30px;
}

.img-orientation {
    float: left;
    border: solid 3px #e5cdaa;
    border-radius: 3px;
    margin-right: 80px;
    margin-top: 10px;

}

.shift-right {
    margin-left: 50px;
}

@media (max-width: 414px) {
    .contact-info {
        margin: 20px auto 20px auto;
        padding: 20px;
        width: 90%;
        height: 100%;
        color: #fff;
        background-color: #00476b; 
        border: solid 3px #e5cdaa;
        border-radius: 3px;
    }
    
    .contact-text {
        line-height: 30px;
    }
    
    .contact-text-size {
        font-size: 20px;
    }
    
    .img-orientation {
        
        border: solid 3px #e5cdaa;
        border-radius: 3px;
        width: 60%;
        
    }
    
    .shift-right {
        margin-left: 50px;
    }

    .titleOrient {
        font-size: 30px;
        margin-left: 15px;
    }
}