.requestA {
    /* position: absolute; */
    width: 30%;
    height: 100%;
    background-color: #00476b;
    text-align: left;
    border: solid 3px #e5cdaa;
    float: right;
   
}

.card-header {
    font-size: 38px;
    border-bottom: solid 2px #e5cdaa;
}

.card-title {
    font-size: 25px;
}

.card-text {
    font-size: 20px;
}

.FormButton {
    position: relative;
    top: -20px;
    left: -40px;
    border: solid 3px #e5cdaa;
    border-radius: 3px;
}

@media (max-width: 1501px) {
    .card-text{
        font-size:15px;
    }

}

@media (max-width: 1456px) {
    .FormButton {
        position: relative;
        top: -20px;
        left: -80px;
        border: solid 3px #e5cdaa;
        border-radius: 3px;
        width: 60%;
    }
}
@media (max-width: 1118px) {
    .requestA {
        display: none;
    }
}
