.aboutImg {

    width: 32.75%;
    max-height: 500px;
    margin-left: 0px;
    border: solid 3px #e5cdaa;
    border-radius: 3px;
    
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}




@media (max-width: 1024px) {

   
   
}



@media (max-width: 768px) {

   
   
}

@media (max-width: 600px) {
    
   
}


  @media (max-width: 414px) {
   

}

@media (max-width: 411px) {
    

}




@media (max-width: 375px) {
    

}

@media (max-width: 360px) {
    

}



@media (max-width: 320px) {
    


}
