.aboutInfo {
    width: 30%;
    height: 100%;
    background-color: #00476b;
    text-align: left;
    border: solid 3px #e5cdaa;
}

.card-header {
    font-size: 38px;
    border-bottom: solid 2px #e5cdaa;
}

.card-title {
    font-size: 25px;
}

.card-text {
    font-size: 20px;
}

.aboutButton {
    position: relative;
    top: -20px;
    left: -40px;
    border: solid 3px #e5cdaa;
    border-radius: 3px;
}