
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #00476b;
    color: white;
    text-align: center;
}

.footBorder {
    padding: 20px;
}

.headLink {
    font-size: 24px;
}

.linkText {
    font-size: 18px;
    color: #fff;
}

.linkText:hover {
    color: #37c4bd;
}

@media (max-width: 414px) {
    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 140px;
        background-color: #00476b;
        color: white;
        text-align: center;
    }
    
    .footBorder {
        padding: 20px;
    }
    
    .headLink {
        font-size: 15px;
    }
    .linkText {
        font-size: 12px;
        color: #fff;
    }
    
}