.portfolio-size {
    margin: 50px auto 50px auto;
    width: 95%;
    color: #fff;
    background-color: #fff; 
    border: solid 10px #00476b;
    border-radius: 20px;
    /* display: table; */
}

.name-style {
    font-size: 50px;
    text-decoration: underline;
    
}

.comparison-button {
    margin-top: 2%;
    min-width: 180px;
    border: solid 5px #e5cdaa;
    border-radius: 3px;
}

.image-style-portfolio {
   border: solid 10px #e5cdaa;
   border-radius: 10px;
}

.row1 {
    margin: 0.25%;
    width:50%;
    
}

.row2 {
    margin: 0.25%;
    width:50%;
    
}

.comparison-1 {
    margin: 0.5%;
    margin-bottom: 30px;
    min-width: 30%;
    background-color: #00476b;
    border: solid 25px #00476b;
    border-radius:10px;
    padding-bottom: 90px;
    
    
}
.comparison-2 {
    margin: 0.5%;
    min-width: 65%;
    background-color: #00476b;
    border: solid 25px #00476b;
    border-radius:10px;
    padding-bottom: 90px;
}


.comparison-3 {
    margin: 0.5%;
    min-width: 50%;
    background-color: #00476b;
    border: solid 25px #00476b;
    border-radius:10px;
    padding-bottom: 90px;
    margin-bottom: 25px;
    
}

