.portfolio-size {
    margin: 50px auto 50px auto;
    width: 95%;
    color: #fff;
    background-color: #fff; 
    border: solid 10px #00476b;
    border-radius: 20px;

}

.morePhotos-size {
    margin: 50px auto 50px auto;
    width: 80%;
    color: #fff;
    background-color: #fff; 
    border: solid 10px #00476b;
    border-radius: 20px;

}

.borderPortfolio {
    border-bottom: solid 10px;
    border-top: solid 10px;
    border-color: #e5cdaa;
}

.name-style {
    font-size: 50px;
    text-decoration: underline;
    
}

.comparison-button {
    margin-top: 2%;
    min-width: 180px;
    border: solid 5px #e5cdaa;
    border-radius: 3px;
}

.morePhotos-button {
    margin-top: 12%;
    min-width: 180px;
    border: solid 5px #e5cdaa;
    border-radius: 3px;
}

.image-style-portfolio {
   border: solid 10px #e5cdaa;
   border-radius: 10px;
}

.row1 {
    margin: 0.25%;
    width:50%;
    
}

.row2 {
    margin: 0.25%;
    width:50%;
    
}

.comparison-1 {
    margin: 0.5%;
    margin-bottom: 30px;
    min-width: 30%;
    background-color: #00476b;
    border: solid 25px #00476b;
    border-radius:10px;
    padding-bottom: 90px;
    padding-right: 15px;
    padding-left: 15px;
    
    
}

.morePhotos-1 {
    margin: 0.5%;
    min-width: 30%;
    background-color: #00476b;
    border: solid 25px #00476b;
    border-radius:10px;
    padding-bottom: 90px;
    padding-right: 15px;
    padding-left: 15px;  
}

.comparison-2 {
    margin: 0.5%;
    min-width: 65%;
    background-color: #00476b;
    border: solid 25px #00476b;
    border-radius:10px;
    padding-bottom: 90px;
    padding-right: 15px;
    padding-left: 15px;
}


.comparison-3 {
    margin: 0.5%;
    min-width: 50%;
    background-color: #00476b;
    border: solid 25px #00476b;
    border-radius:10px;
    padding-bottom: 90px;
    margin-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
    
}

.imagePortLink {
    width: 20%;
    border: solid 5px #e5cdaa;
    border-radius: 3px;
    position: relative;
    top: 40px;
}

.imagePortLink2 {
    width: 20%;
    border: solid 5px #e5cdaa;
    border-radius: 3px;
    position: relative;
    left: -200px;
}

.imagePortLink3 {
    width: 20%;
    border: solid 5px #e5cdaa;
    border-radius: 3px;
    position: relative;
    top: 20px;
    left: -100px;
}

@media (max-width: 768px) {

    .mobilePort {
        font-size: 18px;
    }

    .portfolio-size {
        margin: 30px auto 30px auto;
        width: 95%;
        color: #fff;
        background-color: #fff; 
        border: solid 10px #00476b;
        border-radius: 20px;
    }
    
    .name-style {
        font-size: 30px;
        text-decoration: underline;
        
    }
    
    .comparison-button {
        margin-top: 5%;
        min-width: 180px;
        border: solid 3px #e5cdaa;
        border-radius: 3px;
        font-size: 24px;
    }
    
    .image-style-portfolio {
       border: solid 5px #e5cdaa;
       border-radius: 10px;
    }
    
    .row1 {
        margin: 0.25%;
        width:50%;
        
    }
    
    .row2 {
        margin: 0.25%;
        width:50%;
        
    }
    
    .comparison-1 {
        margin: 0.5%;
        margin-bottom: 15px;
        min-width: 30%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 70px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .comparison-2 {
        margin: 0.5%;
        min-width: 65%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 70px;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    
    .comparison-3 {
        margin: 0.5%;
        min-width: 50%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 70px;
        margin-bottom: 15px;
        padding-right: 0px;
        padding-left: 0px;    
    }
   
}

@media (max-width: 414px) {

    .mobilePort {
        font-size: 10px;
    }

    .portfolio-size {
        margin: 30px auto 30px auto;
        max-width: 364.8px;
        height: 3095px;
        color: #fff;
        background-color: #fff; 
        border: solid 10px #00476b;
        border-radius: 20px;
    }
    
    .name-style {
        font-size: 20px;
        text-decoration: underline;
        
    }
    
    .comparison-button {
        margin-top: 5%;
        min-width: 120px;
        border: solid 3px #e5cdaa;
        border-radius: 3px;
        font-size: 15px;
    }
    
    .image-style-portfolio {
       border: solid 5px #e5cdaa;
       border-radius: 10px;
    }
    
    .row1 {
        margin: 2.5%;
        min-width: 95%;
        float: left;
        clear: right;
        
    }
    
    .row2 {
        position: relative;
        margin: 2.5%;
        display: block;
        min-width: 95%;
        float: left;
        top: 1547px;
        left: -345px;
        
    }
    
    .comparison-1 {
        margin: 0.5%;
        margin-bottom: 15px;
        min-width: 30%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 50px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .comparison-2 {
        margin: 0.5%;
        min-width: 65%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 50px;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    
    .comparison-3 {
        margin: 0.5%;
        min-width: 50%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 50px;
        margin-bottom: 15px;
        padding-right: 0px;
        padding-left: 0px;    
    }
   
}

@media (max-width: 375px) {

    .mobilePort {
        font-size: 10px;
    }

    .portfolio-size {
        margin: 30px auto 30px auto;
        max-width: 364.8px;
        height: 3040px;
        color: #fff;
        background-color: #fff; 
        border: solid 10px #00476b;
        border-radius: 20px;
    }
    
    .name-style {
        font-size: 20px;
        text-decoration: underline;
        
    }
    
    .comparison-button {
        margin-top: 5%;
        min-width: 120px;
        border: solid 3px #e5cdaa;
        border-radius: 3px;
        font-size: 15px;
    }
    
    .image-style-portfolio {
       border: solid 5px #e5cdaa;
       border-radius: 10px;
    }
    
    .row1 {
        margin: 2.5%;
        min-width: 95%;
        float: left;
        clear: right;
        
    }
    
    .row2 {
        position: relative;
        margin: 2.5%;
        display: block;
        min-width: 95%;
        float: left;
        top: 1520px;
        left: -337px;
        
    }
    
    .comparison-1 {
        margin: 0.5%;
        margin-bottom: 15px;
        min-width: 30%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 50px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .comparison-2 {
        margin: 0.5%;
        min-width: 65%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 50px;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    
    .comparison-3 {
        margin: 0.5%;
        min-width: 50%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 50px;
        margin-bottom: 15px;
        padding-right: 0px;
        padding-left: 0px;    
    }
   
}

@media (max-width: 360px) {

    .mobilePort {
        font-size: 10px;
    }

    .portfolio-size {
        margin: 30px auto 30px auto;
        max-width: 364.8px;
        height: 2951px;
        color: #fff;
        background-color: #fff; 
        border: solid 10px #00476b;
        border-radius: 20px;
    }
    
    .name-style {
        font-size: 20px;
        text-decoration: underline;
        
    }
    
    .comparison-button {
        margin-top: 5%;
        min-width: 120px;
        border: solid 3px #e5cdaa;
        border-radius: 3px;
        font-size: 15px;
    }
    
    .image-style-portfolio {
       border: solid 5px #e5cdaa;
       border-radius: 10px;
    }
    
    .row1 {
        margin: 2.5%;
        min-width: 95%;
        float: left;
        clear: right;
        
    }
    
    .row2 {
        position: relative;
        margin: 2.5%;
        display: block;
        min-width: 95%;
        float: left;
        top: 1475px;
        left: -323px;
        
    }
    
    .comparison-1 {
        margin: 0.5%;
        margin-bottom: 15px;
        min-width: 30%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 50px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .comparison-2 {
        margin: 0.5%;
        min-width: 65%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 50px;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    
    .comparison-3 {
        margin: 0.5%;
        min-width: 50%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 50px;
        margin-bottom: 15px;
        padding-right: 0px;
        padding-left: 0px;    
    }
   
}

@media (max-width: 320px) {

    .mobilePort {
        font-size: 10px;
    }

    .portfolio-size {
        margin: 30px auto 30px auto;
        max-width: 364.8px;
        height: 2710px;
        color: #fff;
        background-color: #fff; 
        border: solid 10px #00476b;
        border-radius: 20px;
    }
    
    .name-style {
        font-size: 18px;
        text-decoration: underline;
        
    }
    
    .comparison-button {
        margin-top: 5%;
        min-width: 120px;
        border: solid 3px #e5cdaa;
        border-radius: 3px;
        font-size: 15px;
    }
    
    .image-style-portfolio {
       border: solid 5px #e5cdaa;
       border-radius: 10px;
    }
    
    .row1 {
        margin: 2.5%;
        min-width: 95%;
        float: left;
        clear: right;
        
    }
    
    .row2 {
        position: relative;
        margin: 2.5%;
        display: block;
        min-width: 95%;
        float: left;
        top: 1370px;
        left: -285px;
        
    }
    
    .comparison-1 {
        margin: 0.5%;
        margin-bottom: 15px;
        min-width: 30%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 50px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .comparison-2 {
        margin: 0.5%;
        min-width: 65%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 50px;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    
    .comparison-3 {
        margin: 0.5%;
        min-width: 50%;
        background-color: #00476b;
        border: solid 25px #00476b;
        border-radius:10px;
        padding-bottom: 50px;
        margin-bottom: 15px;
        padding-right: 0px;
        padding-left: 0px;    
    }
   
}

