.jobMangement-info {
    margin: 20px auto 20px auto;
    padding: 20px;
    width: 70%;
    height: 100%;
    color: #fff;
    background-color: #00476b; 
    border: solid 3px #e5cdaa;
    border-radius: 3px;
}

.listStyles {
    background-color: #00476b;
    color: #fff;
    font-size: 18px;
    border: solid 3px #e5cdaa;
    margin: 5px;
}

.spaceRows {
    margin: 20px;
}

.jobHeight {
    height: 800px;
}

.itemTitle {
    color: #e5cdaa;
    font-weight: 500;
}

.position1 {
    margin-left: 30%;
    margin-bottom: 4%;
}