.logo-location3 {
    max-width: 50%;
    background-color: #fff;
    float: top;
    margin-left: 25%;
    border: solid 10px #e5cdaa;
    border-radius: 75px;
}

.content2 {
    margin: 20px auto 20px auto;
    padding: 20px;
    width: 70%;
    height: 100%;
    color: #fff;
    background-color: #00476b; 
    border: solid 3px #e5cdaa;
    border-radius: 3px;
}

.spaceMe {
    margin: 0 20px 0 20px;
    font-size: 18px;
}

.spaceMe2 {
    margin: 0 20px 0 20px;
    font-size: 18px;
}

.spaceMe3 {
    margin: 0 25px 0 20px;
    font-size: 18px;
}

.spaceMe4 {
    margin: 0 50px 0 20px;
    font-size: 18px;
}


.floatBot {
    margin-top: 1%;
    float: bottom;
    margin-left: 17%;
}

@media(max-width: 1024px) {
    
    .logo-location3 {
        max-width: 50%;
        background-color: #fff;
        float: top;
        margin-left: 25%;
        border: solid 5px #e5cdaa;
        border-radius: 75px;
    }
    
    .content2 {
        margin: 20px auto 20px auto;
        padding: 20px;
        width: 70%;
        height: 100%;
        color: #fff;
        background-color: #00476b; 
        border: solid 3px #e5cdaa;
        border-radius: 3px;
    }
    
    .spaceMe {
        margin: 0 20px 0 20px;
        font-size: 18px;
    }

    .spaceMe2 {
        margin: 0 80px 0 20px;
        font-size: 18px;
    }
    
    .floatBot {
        margin-top: 1%;
        float: bottom;
        margin-left: 17%;
    }

}