.slides {
    height: 600px;
    width:100%;
    
}

.slide {
    height: 600px;
    width: 50%;
}

.firstslide {
    height: 600px;
    width: 70%;
}

.fourthslide {
    height: 600px;
    width: 30%;
}

.slide-container {
    border-bottom: solid 10px;
    border-top: solid 10px;
    border-color: #e5cdaa;
}

