.quickContact {
    text-align: right;
    color: white;
    background-color: #00476B;
    height: 60px;
    font-size: 27px;
    padding: 10px 40px 0 0;
}

.email {
    color: white;
}

.email:hover {
    color: #e5cdaa;
}