.quickContact {
    text-align: right;
    color: white;
    background-color: #00476B;
    height: 60px;
    font-size: 27px;
    padding: 10px 40px 0 0;
    width: 100%;
   
}

.email {
    color: white;
}

.phoneWork {
    color: white;
}

.phoneWork:hover {
    color: #e5cdaa;
}

.email:hover {
    color: #e5cdaa;
}

@media (max-width: 768px) {
    .phoneStart {
    
        font-size: 24px;
    }

    .quickContact {
        text-align: right;
        color: white;
        background-color: #00476B;
        height: 60px;
        font-size: 27px;
        padding: 10px 40px 0 0;
    }
}



@media (max-width: 414px) {
    .phoneStart {
        font-size: 11px;
        margin-left: 15px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        height: 20px;
    }

    .quickContact {
        text-align: right;
        color: white;
        background-color: #00476B;
        height: 60px;
        font-size: 11px;
        padding: 10px 40px 0px 0px;
        max-height: 30px;
    }
    
    .email {
        font-size: 11px;
        color: white;
        padding: 10px 27px 0px 0px;
        padding-bottom: 0px;
    }
    .phoneOrient {
        font-size: 11px;
        padding: 10px 0px 0 0;
        padding-bottom: 0px;
    }
    
    .phoneWork {
        font-size: 11px;
        color: white;
        padding-bottom: 0px;
    }
}

@media (max-width: 375px) {
    .phoneStart {
        font-size: 12px;
        margin-left: 15px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        height: 20px;
    }

    .quickContact {
        text-align: right;
        color: white;
        background-color: #00476B;
        height: 20px;
        font-size: 10px;
        padding: 10px 40px 0px 0px;
    }
    
    .email {
        font-size: 10px;
        color: white;
        padding: 10px 27px 0px 0px;
        padding-bottom: 0px;
    }
    .phoneOrient {
        font-size: 12px;
        padding: 10px 0px 0 0;
        padding-bottom: 0px;
    }
    
    .phoneWork {
        font-size: 10px;
        color: white;
        padding-bottom: 0px;
    }
}

@media (max-width: 320px) {
    .phoneStart {
        font-size: 10px;
        margin-left: -1.9px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        height: 20px;
    }

    .quickContact {
        text-align: right;
        color: white;
        background-color: #00476B;
        height: 60px;
        font-size: 10px;
        padding: 10px 40px 0px 0px;
        max-height: 30px;
        
        
    }
    
    .email {
        font-size: 10px;
        color: white;
        padding: 10px 0px 0px 0px;
        padding-bottom: 0px;
        
    }
    .phoneOrient {
        font-size: 10px;
        padding: 10px 0px 0 0;
        padding-bottom: 0px;
    }
    
    .phoneWork {
        font-size: 10px;
        color: white;
        padding-bottom: 0px;
    }
}



